.digital{
  border-radius: 5px;
  margin:0 20px;
  padding:10px;
  border:1px solid cornsilk ;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(100,100,100, 0.5);
}
.themed-grid-col{
  padding-top:15px;
  padding-bottom: 15px;
  background-color: aliceblue;
  border: 1px solid rgb(17, 17, 17, 0.2);
}
.themed-grid-col-s{
  padding-top:15px;
  padding-bottom: 15px;
  background-color: rgb(8, 8, 8, 0.2);
  border: 1px solid rgb(17, 17, 17, 0.2);
}